
<%- include('partials/head') %>

<body>

    <%- include('partials/header') %>
    
    <form action="/" method="POST">
        Search table name: <input type="text" name="table_name" >
        <button type="submit">Get Table</button>
    </form>




    <%- include('partials/dataTable') %>
    



    <%- include('partials/footer') %>
</body>
</html>